{% extends 'base.html' %}
{% block title %}Add Book{% endblock %}
{% block body %}

<h1>Add Books</h1>

<form action="/add_book" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" name="author">
    </div>
    <div class="mb-3">
        <label for="isbn">ISBN</label>
        <input type="text" class="form-control" id="isbn" name="isbn">
    </div>
    <div class="mb-3">
        <label for="publisher">Publisher</label>
        <input type="text" class="form-control" id="publisher" name="publisher">
    </div>
    <div class="mb-3">
        <label for="page">Page</label>
        <input type="number" class="form-control" id="page" name="page">
    </div>
    <div class="mb-3">
        <label for="title">Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity">
    </div>
    <div class="mb-3">
        <label for="title">Fee</label>
        <input type="number" class="form-control" id="fee" name="fee">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}